<div class="sidebar">
  <p class="sidebar__title">Empleados</p>
  <div class="sidebar__list">
    <!-- <div class="sidebar__list-item">
      <div [routerLink]="['']" routerLinkActive="active" class="route-container">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list"></mat-icon>
        Dashboard
      </div>
    </div> -->
    <div class="sidebar__list-item">
      <div [routerLink]="['/add-employee']" routerLinkActive="active" class="route-container">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
        Agregar empleado
      </div>
    </div>
    <div class="sidebar__list-item">
      <div [routerLink]="['/employee-list']" routerLinkActive="active" class="route-container">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list"></mat-icon>
        Listado de empleados
      </div>
    </div>
  </div>
</div>
