:host {
  display: block;
}

.sidebar{
  width: 200px;
  height: 100%;
  background-color: rgb(76, 83, 87);

  &__list{
    background-color: aqua;
   &-item{
    padding: 4px;
    background-color: yellow;
   }
  }
}
