<div class="list">
  <app-title title="Listado de empleados"/>
  <app-white-card>
    @if(employess.length<=0){
      <div>
        <p>No se encontraron registros</p>
      </div>
    }@else {
    <form [formGroup]="form">
      <table>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Cambiar estatus</th>
          </tr>
        </thead>
        <tbody formArrayName="employees">
          @for (emp of employeesArr.controls; track $index) {
            <tr [formGroupName]="$index">
              <th class="text-start" scope="row">
                {{ emp.get('id')?.value }}
              </th>
              <th class="text-start">
                @if (emp.get('isEdit')?.value && !emp.get('estatus')?.value) {
                  <input type="text" formControlName="nombre">
                }@else {
                  {{ emp.get('nombre')?.value }}
                }
              </th>
              <th>
                 @if (emp.get('isEdit')?.value && !emp.get('estatus')?.value) {
                   <input type="text" formControlName="edad">
                }@else {
                  {{ emp.get('edad')?.value }}
                }
              </th>
              <th>
                @if (emp.get('isEdit')?.value && !emp.get('estatus')?.value) {
                  <button
                    [disabled]="emp.get('estatus')?.value"
                    mat-raised-button color="primary"
                    (click)="editEmployee(emp)">Actualizar</button>
                }@else {
                  <button
                    [disabled]="emp.get('estatus')?.value"
                    mat-raised-button color="primary"
                    (click)="onEditField($index)">Editar</button>
                }
              </th>
              <th>
                <button mat-raised-button color="warn">Borrar</button>
              </th>
              <th>
                <mat-slide-toggle formControlName="estatus">
                </mat-slide-toggle>
              </th>
            </tr>
          }
        </tbody>
      </table>
    </form>
    }
  </app-white-card>
</div>
<mat-paginator
  [length]="totalRecords"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  aria-label="Selecciona la pagina"
  (page)="handlePageEvent($event)">
</mat-paginator>

<!-- <pre>{{form.value|json}}</pre> -->
