:host {
  display: block;
  flex: 1;
}

table{
  width: 100%;
}

.text-start{
  text-align: start;
}

.list{
  padding: 40px;
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
}
